/**
 * @file
 * Styling for regions override module.
 */

/* Tab appearance. */
.toolbar .toolbar-bar .regions-override-toolbar-tab.toolbar-tab {
  float: right; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-bar .regions-override-toolbar-tab.toolbar-tab {
  float: left;
}

.toolbar-bar .toolbar-icon-regions-override::before {
  /* cspell:disable-next-line */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='420.008' height='420.002' viewBox='0 0 420.008 420.002'%3E%3Cpath d='M140,466.67V93.33A23.339,23.339,0,0,1,163.332,70h163.33l0,420H163.326a23.339,23.339,0,0,1-23.332-23.332Zm420,0V303.33H373.33V490H536.67A23.339,23.339,0,0,0,560,466.668Zm0-373.34A23.339,23.339,0,0,0,536.668,70H373.328v186.67H560Z' transform='translate(-139.994 -69.998)' fill='%23bebebe'/%3E%3C/svg%3E");
}

/* Theme settings form */
.regions-override-sections-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.regions-override-sections-wrapper .form-item {
  margin-top: 0;
}
