<div class="layout-container">

  {% if page.header %}
    <header id="header">
      {{ page.header }}
    </header>
  {% endif %}

  <main>
    {{ page.primary_menu }}
    {{ page.secondary_menu }}
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.help }}

    <div class="layout-content">
      {{ page.content }}
    </div>

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer id="footer">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>
